﻿@page "/exam"
@inherits ExamBase

<h1>Экзамен</h1>

<button class="btn btn-primary" @onclick="Start" disabled="@(DisableStart ? "disabled" : null)">Start</button>

<button class="btn btn-primary" @onclick="Next" disabled="@(DisableNext ? "disabled" : null)">Next</button>

<br />
<br />

@if (@GetNextResponse != null)
{
    <h3>Вопрос @QuestionNumber из @QuestionsCount</h3>
    <p>Осталось @Counter секунд для ответа.</p>
    <br />
    <div class="question">
        <p>@GetNextResponse.QuestionText</p><br /><br />
    </div>
    <br />

    if (@GetNextResponse.Answers != null)
    {
        <div class="answers">
            @foreach (var answer in @GetNextResponse.Answers)
            {
                <div>
                    <input type="radio" name="edition" value="@answer.Id.ToString()" checked="@(RadioIdValue == @answer.Id.ToString())" @onchange="RadioChange" />
                    <label>@answer.Text</label>
                </div>
            }
        </div>
    }
}

@if (@IsShowResult == true)
{
    <div class="question">
        <p>Экзамен @(Exam.IsPassed ? "сдан" : "не сдан") </p><br /><br />
    </div>
    <br />
}


