﻿@page "/history"
@inherits HistoryBase

<h1>История экзаменов</h1>
<p>Студент -  @FullName</p>

@if (ExamResponses == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Статус</th>
            <th>Дата</th>
            <th>Продолжительность</th>
            <th>Всего вопросов</th>
            <th>Отвечено правильно</th>
            <th>Результат</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var examResponse in ExamResponses)
        {
            if (@examResponse != null)
            {
                <tr>
                    <td>@examResponse.Id</td>
                    <td>@GetStatus(examResponse)</td>
                    <td>@examResponse.DateTimeBegin.ToString("MM/dd/yyyy")</td>
                    <td>@GetDuration(examResponse)</td>
                    <td>@examResponse.QuestionsCount</td>
                    <td>@examResponse.PassedQuestionsCount</td>
                    <td bgcolor= "@(examResponse.IsPassed ? "green" : "red")">@GetResult(examResponse) </td>
                </tr>
            }
        }
        </tbody>
    </table>
}
